---
import ArticleLayout from '../layouts/ArticleLayout.astro';
import { Calendar} from 'react-feather';

export async function getStaticPaths() {
    const articles = await Astro.glob('./posts/*.{md,mdx}')
    

    return articles.map(article => ({
        params: {
            article:article.frontmatter.slug
        },
        props: {
            article
        }
    }))
}

const {Content, frontmatter} = Astro.props.article
---

<ArticleLayout title={frontmatter.title}>    
    
    {frontmatter.hero && 
    <img class="pt-8" src={frontmatter.hero}/>
    <br>
    }    
    <a class="author" href="/about">                 
      автор: <span>{frontmatter.author}</span>
    </a>    
    <p class="date">
      <Calendar size={30}/>
        <span> Дата публикации: {frontmatter.date}</span>
    </p>          
    <h1 class="py-8">Тема: {frontmatter.title}</h1>
    <Content/>    
</ArticleLayout>

<style> 
  .author span{
    text-decoration: underline;
  }

  .date {
    display: flex;    
  }
  .date span {
    margin-left: 10px;
    font-style: italic;
  }

  h1{
    font-size: 30px;
  }
</style>

