---
import ArticleLayout from '../layouts/ArticleLayout.astro';
import { Calendar} from 'react-feather';

export async function getStaticPaths() {
    const articles = await Astro.glob('./posts/*.{md,mdx}')
    

    return articles.map(article => ({
        params: {
            article:article.frontmatter.slug
        },
        props: {
            article
        }
    }))
}

const {Content, frontmatter} = Astro.props.article
---

<ArticleLayout title={frontmatter.title}>    
    
    {frontmatter.hero && 
    <img src={frontmatter.hero}/>
    <br>
    }    
         
    <p class="date">
      <Calendar size={30}/>
       <span> Дата публикации: {frontmatter.date}</span>
    </p> 
    <a href="/about" class="author">                 
      автор: <span>{frontmatter.author}</span>
    </a>      
    <h1>{frontmatter.title}</h1>
    <Content/>    
</ArticleLayout>

<style>

  .author span{
    text-decoration: underline;
  }
  .date {
    display: flex;
    
  }
  .date span {
    margin-left: 10px;
    font-style: italic;
  }
</style>