---
import admin from '../../images/home/admin.jpg'
import femi from '../../images/home/femi.jpg'
import fifi from '../../images/home/fifi.jpg'
import sahil from '../../images/home/sahil.jpeg'
import sudhanshu from '../../images/home/sudhanshu.jpg'

import '../../styles/home/winner.css'
---

<section>
    <div id="winners"></div>
    <h3>Видео материалы</h3>
    <p>Представляем вниманию наших Гостей видеоролики c полезным юридическим контентом на актуальные темы современности. </p>

  <div id="winners--wrapper">
    <a href="https://twitter.com/PraveenMalethia" target="_blank">
        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src={admin}/>
                </div>
                <div>
                    <p class="winner--name">Praveen Kumar</p>
                    <small>Code Battle</small>
                </div>
            </div>
        </div>
    </a>

    <div class="winner--card">
        <div class="winner--card--header">
            <div class="winner--avatar__border">
                <img class="winner--avatar" src={admin} />
            </div>
            <div>
                <p class="winner--name">Adarsh</p>
                <small>Code Battle</small>
            </div>
        </div>
        
    </div>

    <a href="https://twitter.com/Sahilkhanna07" target="_blank">
        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src={sahil}/>
                </div>
                <div>
                    <p class="winner--name">Sahil</p>
                    <small>Code Battle</small>
                </div>
            </div>
        </div>
    </a>

    <a href="https://twitter.com/stephaniefifi_" target="_blank">
        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src={fifi}/>
                </div>
                <div>
                    <p class="winner--name">Fifi</p>
                    <small>Code Battle</small>
                </div>
            </div>
        </div>
    </a>

    <a href="https://twitter.com/sudhanshu_p_12" target="_blank">
        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src={sudhanshu}/>
                </div>
                <div>
                    <p class="winner--name">Sudhanshu Prasad</p>
                    <small>Design Battle</small>
                </div>
            </div>
        </div>
    </a>
    
    <a href="https://www.linkedin.com/in/femiodejide" target="_blank">
        <div class="winner--card">
            <div class="winner--card--header">
                <div class="winner--avatar__border">
                    <img class="winner--avatar" src={femi}/>
                </div>
                <div>
                    <p class="winner--name">Femi</p>
                    <small>Design Battle</small>
                </div>
            </div>
        </div>
    </a>

    </div>
</section>