---
import "../../styles/faq/faq.css";
import { faqs } from '../../data/faq.js'
import FaqLayout from "../../layouts/FaqLayout.astro";

export interface Props {
  heading?: string;  
}
  
const {
  heading = 'вопрос-ответ (FAQ)'  
} = Astro.props;
 
---

 
<FaqLayout title="FAQ || Автоюрист Сургут">
  <div class="faq">
    <h2 class="text-lg text-center pb-4 uppercase">
      {heading}
    </h2>
		<hr class="py-4">
     <!-- Import array faqs  -->
     {faqs.map(faq => (
        <label for={faq.label}>
          {faq.number}. {faq.question}
        </label>
    <input type="radio" name="panel" id={faq.id} />
    <div class="collapsible">
      <p>
        {faq.answer}
      </p>
    </div>
      ))}    
  </div>
</FaqLayout>
